<h1> <%= title  %></h1>

<form action="", method="POST">
    <div class="form-group">
        <label for="name">Category:</label>
        <input class="form-control" id="name" type="text" 
        placeholder="CPU, GPU, etc." name="name" required="true" value=<%= category.name %>>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>


<% if (errors != '') {%>
    <ul>
        <% errors.forEach(error => { %>
            <li> 
                <%= error.msg  %>
            </li>
        <% }) %>
    </ul>
    <% } %>
