<h1>ID: <%= partinstance.productID %></h1>

<p>
    <strong>Part:</strong>
    <a href=<%= partinstance.part.url %>> <%= partinstance.part.name %></a>
</p>

<p>
    <strong>Status: </strong>
    <%= partinstance.status %>
</p>