<h1>
    <%= title %>
</h1>


<ul>
    <% if (part_list != '') { %>
        <%  part_list.forEach(part => { %>
            <li>
                <a href=<%= part.url %>>
                    <%= part.name %>
                </a>
                - <%= part.category.name %>
            </li>
            <% }) %>
    <% } %>
    

</ul>